<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <div class="flex items-center flex-col gap-y-4">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Recuperar Contraseña
        </h1>
      </div>

      <form (submit)="submit($event)" class="space-y-4 md:space-y-6">
        <div>
          <label for="emailInput" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Ingresa tu correo electrónico:
          </label>
          <input
            type="emailInput"
            name="emailInput"
            id="emailInput"
            placeholder="Ejemplo: luis161002@gmail.com"
            class="bg-gray-50 outline-none border-none text-gray-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
          <small class="text-red-400 hidden">Este campo es requerido</small>
        </div>

        <button
          type="submit"
          class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          Enviar enlace 
        </button>
      </form>
      
      <div>
        <p class="text-sm text-center mb-5 font-light text-gray-500 dark:text-gray-400">
          ¿Recuerdas tu contraseña?
          <a routerLink="/login" class="font-medium text-green-600 hover:underline dark:text-green-500" style="cursor: pointer;">
            Iniciar sesión
          </a>
          <br>
        </p>
      </div>
    </div>

    </div>
  </div>
</section>


