<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - BookUnit</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    #visitorChart {
      max-width: 100%;
      height: 300px;
    }
  </style>
</head>
<body class="bg-[#111827] text-gray-300">
 
  <div class="flex w-[100%] justify-between">
    <!-- Ícono del menú hamburguesa -->
    <div class="fixed text-black top-4 cursor-pointer left-2 z-30" (click)="toggleSidebar()">
      <div class="bg-white rounded-full p-3">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
        </svg>
      </div>  
    </div>
    
    <!-- Sidebar -->
    <div class="fixed inset-0 bg-black bg-opacity-50 z-40" [class.hidden]="!isSidebarVisible">
    <div class="h-[100%] xl:w-[15%] fixed p-1 bg-gray-800 z-[1000] sm:z-[10000] sm:w-[100%]"
     [class.hidden]="!isSidebarVisible"
    > 
      <div class="rounded-full cursor-pointer bg-white text-black p-2 fixed top-3 left-44 shadow-lg" (click)="toggleSidebar()">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
      </div>
      <h1
      class="text-2xl font-bold h-[10%] p-2 gap-2 text-center flex items-center text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-book"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <path d="M3 6l0 13" />
        <path d="M12 6l0 13" />
        <path d="M21 6l0 13" />
      </svg>
      BookUnit
      </h1>
      <ul
      class="flex flex-col justify-between p-2 h-[90%] text-gray-300 border border-solid border-gray-100 rounded-md"
    >
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chart-pie"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8"
          />
          <path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5" />
        </svg>
        <a href="/administracion" class="ml-2 hover:text-white"
          >Administración</a
        >
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-users"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
          <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          <path d="M16 3.13a4 4 0 0 1 0 7.75" />
          <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
        </svg>
        <a href="/usuarios" class="ml-2 hover:text-white">Usuarios</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-books"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
          />
          <path
            d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
          />
          <path d="M5 8h4" />
          <path d="M9 16h4" />
          <path
            d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z"
          />
          <path d="M14 9l4 -1" />
          <path d="M16 16l3.923 -.98" />
        </svg>
        <a href="/libros" class="ml-2 hover:text-white">Libros</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-library"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M7 3m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
          />
          <path
            d="M4.012 7.26a2.005 2.005 0 0 0 -1.012 1.737v10c0 1.1 .9 2 2 2h10c.75 0 1.158 -.385 1.5 -1"
          />
          <path d="M11 7h5" />
          <path d="M11 10h6" />
          <path d="M11 13h3" />
        </svg>
        <a href="/libros-digitales" class="ml-2 hover:text-white"
          >Libros Digitales</a
        >
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag-check"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M11.5 21h-2.926a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304h11.339a2 2 0 0 1 1.977 2.304l-.5 3.248"
          />
          <path d="M9 11v-5a3 3 0 0 1 6 0v5" />
          <path d="M15 19l2 2l4 -4" />
        </svg>
        <a href="/prestamos" class="ml-2 hover:text-white">Préstamos</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-alert-square-rounded"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
          />
          <path d="M12 8v4" />
          <path d="M12 16h.01" />
        </svg>
        <a href="/extravio" class="ml-2 hover:text-white">Extravio</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-user"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
        <a href="/perfil" class="ml-2 hover:text-white">Perfil</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-diamond"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M6 5h12l3 5l-8.5 9.5a.7 .7 0 0 1 -1 0l-8.5 -9.5l3 -5" />
          <path d="M10 12l-2 -2.2l.6 -1" />
        </svg>
        <a href="/pro" class="ml-2 hover:text-white">Cambiar a Pro</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-help"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M12 17l0 .01" />
          <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
        </svg>
        <a href="/ayuda" class="ml-2 hover:text-white">Ayuda</a>
      </li>
      <li class="flex items-center p-2 hover:bg-slate-600 hover:rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M13 18l6 -6" />
          <path d="M13 6l6 6" />
        </svg>
        <a class="ml-2" (click)="onSignOut()">Cerrar Sesión</a>
      </li>
      </ul>
    </div>
    </div>

    <!-- Main Content -->
    <div [class.right-[0%]]="!isSidebarVisible" [class.w-[90%]]="!isSidebarVisible" class="flex flex-col relative right-[-15%] w-[85%] bg-[#111827] p-6 mt-5">

      <div class="flex justify-between mb-2 mt-12">
        <div class="w-full md:w-1/2">
          <h1 class="text-3xl font-bold mb-2 text-white">Usuarios</h1>
        </div>
      </div>
  
  
      <!-- Botón para abrir el formulario -->
      <div class="flex justify-medium mb-4">
          <button (click)="openRegisterModal()" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded shadow-md">
            Nuevo Usuario
          </button>
      </div>
  
      <!-- Tabla de usuarios -->
      <div class="w-[80%] max-h-[600px] scrollbar-custom  border border-gray-500 shadow-lg">
        <table class="w-[100%] border-collapse shadow-lg">
          <thead>
            <tr class="bg-gray-700 text-white">
              <th class="border border-gray-500 p-2">Nombre</th>
              <th class="border border-gray-500 p-2">Cargo</th>
              <th class="border border-gray-500 p-2">Num. Control</th>
              <th class="border border-gray-500 p-2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- Fila de usuario -->
            <tr *ngFor="let usuario of usuarios" class="bg-gray-800 text-gray-300 hover:bg-gray-700 transition duration-200">
              <td class="border border-gray-500 p-2">{{ usuario.username}}</td>
              <td class="border border-gray-500 p-2">{{ usuario.role }}</td>
              <td class="border border-gray-500 p-2">{{ usuario.id}}</td>
              <td class="border border-gray-500 p-2 hidden">{{ usuario.email }}</td>
              <td class="flex items-center justify-center border border-gray-500 p-2 gap-2">
  
                <!-- Botón de editar -->
                <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
                (click)="openEditModal(usuario.id, usuario.username, usuario.email)"
                >
                  Editar
                </button>
                
                <!-- Botón de eliminar -->
                <button 
                  class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded"
                  (click)="deleteUsuario(usuario.id)">
                  Eliminar
                </button>
  
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     
    </div>

  </div>
  

</body>
</html>
